<!DOCTYPE html>
<html>
<head>
  <title>Battleship</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- required: realtime support framework -->
  <%= realtime_support %>
  <!-- optional: message_handler dequeues realtime messages into Backbone.js style events -->
  <%= realtime_message_handler %>
  <!-- optional: message_console_logger listens or dequeues realtime messages to the browser console -->
  <%= realtime_message_console_logger %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>